.todos {
  &__create {
    &-input {
      margin: 0 auto 5px;
      width: $feild-width;
    }
    &-button {
      display: block;
      margin: 0 auto 20px;
    }
  }

  &__task {
    &--completed {
      color: gray;
      text-decoration: line-through;
    }
  }

  &__update {
    &-input {
      margin: 0 auto;
    }
  }
}

th, td {
  font-size: 20px;
  text-align: center;
}