<section class="container">
  <h2>ToDo test app with Angular 1.5</h2>

  <form ng-submit="createTask(newTask)">
    <input
      type="text"
      class="form-control todos__create-input" placeholder="what to do?"
      ng-model="newTask">
    <button class="btn btn-success todos__create-button">Create task</button>
  </form>

  <table class="table table-striped">
    <tr>
      <th>Completed?</th>
      <th>Task</th>
      <th>Actions</th>
    </tr>
    <tr ng-repeat="todo in todos">
      <td>
        <input type="checkbox"
          ng-checked="todo.isCompleted"
          ng-click="onCompletedClick(todo)">
      </td>
      <td>
        <span class="todos__task"
          ng-class="{'todos__task--completed': todo.isCompleted}"
          ng-hide="todo.isEditing">{{todo.task}}</span>

        <form
          ng-submit="updateTask(todo)"
          ng-show="todo.isEditing">
          <input type="text"
            class="form-control todos__update-input"
            ng-value="todo.task"
            ng-model="todo.updatedTask">
        </form>
      </td>
      <td>
        <button class="btn btn-info"
          ng-hide="todo.isEditing"
          ng-click="onEditClick(todo)">Edit</button>
        <button class="btn btn-danger"
          ng-hide="todo.isEditing"
          ng-click="deleteTask(todo)">Delete</button>

        <button class="btn btn-primary"
          ng-show="todo.isEditing"
          ng-click="updateTask(todo)">Save</button>
        <button class="btn btn-default"
          ng-show="todo.isEditing"
          ng-click="onCancelClick(todo)">Cancel</button>
      </td>
    </tr>
  </table>
</section>